.element {
	min-width: 50px;
	min-height: 50px;
	width: 200px;
	height: 60px;
	background: seashell;
	border-radius: 2px;

	position: absolute;

	cursor: move;

	&:focus {
		border: 2px solid goldenrod;
	}
}

.dragging {
	opacity: 0.8;
	box-shadow: rgba(205, 205, 209, 0.25) 0px 13px 27px -5px, rgba(255, 255, 255, 0.452) 0px 8px 16px -8px;
}

.undraggable {
	background: lime;

	&::before {
		content: "Undraggable: Click outside to reset (wip)";
		position: absolute;
		top: -3rem;
	}
}